* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #252734;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header.navbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #252734;
}

header.navbar-container .navbar-list ul {
  display: flex;
  justify-content: center;
  gap: 1rem 3.938rem;
}

header.navbar-container .navbar-list li {
  list-style-type: none;
}

header.navbar-container .navbar-list li a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}

header.navbar-container .navbar-list li a:hover {
  color: #ff9100;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 1.75rem;
  padding: 1rem 2rem;
}

main .content {
  width: 100%;
}

main .content #home {
  flex: 1;
  display: flex;
  max-width: 1090px;
  height: 100vh;
  align-items: center;
  margin-inline: auto;
  padding-inline: 5rem;
}

main .content #home .content-description {
  flex: 1 1;
}

main .content #home .content-description .title {
  margin-block: 1rem;
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  line-height: 2.5rem;
}

main .content #home .content-description p:nth-child(even) {
  color: white;
  font-weight: 300;
  font-size: 1.03rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

main .content #home .content-description p:nth-child(odd) {
  color: #ff9100;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

main .content #home .content-description button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: #ff9100;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

main .content #home .content-description button:hover {
  border: 3px solid #ff9100;
  background-color: transparent;
  color: #ff9100;
}

main .content #home .content-image {
  flex: 1;
  display: flex;
}

main .content #home .content-image img {
  min-width: 250px;
  margin: auto;
}

main .content #about {
  display: flex;
  flex-direction: column;
  background-color: #333646;
  height: 100vh;
  text-align: center;
}

main .content #about .content-about {
  margin: auto;
}

main .content #about .content-about .title-about {
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 0.125rem;
}

main .content #about .content-about q {
  color: #ff9100;
  font-size: 1.563rem;
  line-height: 2.5rem;
}

main .content #about .content-about p {
  color: white;
  font-size: 1.563rem;
}

main .content #skills .content-skills {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

main .content #skills .content-skills .title-skills {
  padding-top: 2rem;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}

main .content #skills .content-skills section {
  display: flex;
  gap: 2rem;
  margin: auto;
  color: white;
}

main .content #skills .content-skills section .backend-skills {
  padding: 4rem;
  border: 3px solid #ff9100;
  box-shadow: 4px 2px 6px #ff9100;
  background-color: #333646;
  border-radius: 10px;
  align-items: center;
  font-size: 1.563rem;
}

main .content #skills .content-skills section .frontend-skills {
  padding: 4rem;
  border: 3px solid #ff9100;
  box-shadow: 4px 2px 6px #ff9100;
  background-color: #333646;
  border-radius: 10px;
  align-items: center;
  font-size: 1.563rem;
}

main aside {
  display: flex;
  flex-direction: column;
}

main aside .profile-card {
  height: 100vh;
  margin: auto;
  text-align: center;
  padding: 1rem;
  border: 3px solid #ff9100;
  border-radius: 10px;
  box-shadow: 4px 2px 6px #ff9100;
  color: white;
}

main aside .profile-card img {
  width: 200px;
}

main aside .social-media {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: #252734;
  border-left: 1px solid #ff9100;
  border-top: 1px solid #ff9100;
  border-bottom: 1px solid #ff9100;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ff9100;
  transition: all 0.1s ease-in-out;
}
main aside .social-media li a:hover {
  color: #89b0d9;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #333646;
  color: white;
}

@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  header.navbar-container .navbar-list ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-left: 2rem;
    margin-top: 0;
  }

  header.navbar-container .navbar-list ul.show {
    display: flex;
  }

  .hamburger {
    display: flex;
    order: -1;
    margin: 0;
  }

  main .content #home {
    flex-direction: column;
    margin-block: 2rem;
  }

  main .content #home .content-image {
    order: -1;
  }

  main .content #home .content-image img {
    width: 250px;
  }

  main .content #home .content-description {
    text-align: center;
  }

  main .content #skills .content-skills section {
    flex-direction: column;
  }

  main .content #home .content-description .title {
    font-size: 2rem;
  }

  main .content #about .content-about .title-about {
    font-size: 2rem;
  }

  main .content #about .content-about q {
    font-size: 1rem;
  }

  main .content #about .content-about p {
    font-size: 1rem;
  }

  main .content #about .content-skills .title-skills {
    font-size: 2rem;
  }

  main .content #skills .content-skills section .backend-skills {
    font-size: 1rem;
  }

  main .content #skills .content-skills section .frontend-skills {
    font-size: 1rem;
  }
}
